ws/SI_MESTOWEB_OB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:p1="http://sso.krakatausteel.com" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="SI_MESTOWEB_OB" targetNamespace="http://sso.krakatausteel.com">
	<wsdl:documentation/>
	<wsdl:types>
		<xsd:schema xmlns="http://sso.krakatausteel.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sso.krakatausteel.com">
			<xsd:element name="MT_MESTOWEB_OB" type="DT_MESTOWEB_OB"/>
			<xsd:complexType name="DT_MESTOWEB_OB">
				<xsd:sequence>
					<xsd:element name="HEADER" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="TGLNAME" minOccurs="0"/>
								<xsd:element name="TGLID" minOccurs="0"/>
								<xsd:element name="DATESEND" minOccurs="0"/>
								<xsd:element name="TIMESEND" minOccurs="0"/>
								<xsd:element name="SENDER" minOccurs="0"/>
								<xsd:element name="RECIEVER" minOccurs="0"/>
								<xsd:element name="STATUS" minOccurs="0"/>
								<xsd:element name="XCONTROLID" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="INFOCHARS" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence maxOccurs="unbounded">
								<xsd:element name="TANGGAL" minOccurs="0"/>
								<xsd:element name="KRITERIA" minOccurs="0"/>
								<xsd:element name="VALUE" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_MESTOWEB_OB">
		<wsdl:documentation/>
		<wsdl:part name="MT_MESTOWEB_OB" element="p1:MT_MESTOWEB_OB"/>
	</wsdl:message>
	<wsdl:portType name="SI_MESTOWEB_OB">
		<wsdl:documentation/>
		<wsdl:operation name="SI_MESTOWEB_OB">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_RECEIVER_OB"/>
			</wsp:Policy>
			<wsdl:input message="p1:MT_MESTOWEB_OB"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_MESTOWEB_OBBinding" type="p1:SI_MESTOWEB_OB">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="SI_MESTOWEB_OB">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_MESTOWEB_OBService">
		<wsdl:port name="SI_MESTOWEB_OBPort" binding="p1:SI_MESTOWEB_OBBinding">
			<soap:address location="http://localhost/ws/si_mestoweb_ob.php?wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:UsingPolicy wsdl:required="false"/>
	<wsp:Policy wsu:Id="OP_SI_RECEIVER_OB"/>
</wsdl:definitions>